/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
background: #22283d;

}


p {
   padding-left: 20px;

}


h1 {
   padding: 20px 0 0 20px; 
   color:#FF5733;
    font-size: 40px;
    font-family: Aref Ruqaa Ink;
  }
 h2 {
   padding: 20px 0 0 20px; 
   color: #fdbca2;
    font-size: 25px;
    font-family: Aref Ruqaa Ink;
 }