.body {
padding: 0;
margin: 0;
}
.layout {
background: #22283d;
}
h1 {
    color:#FF5733;
    font-size: 40px;
    font-family: Aref Ruqaa Ink;
  }
 h2 {
    color: #ffad8c;
    font-size: 25px;
    font-family: Aref Ruqaa Ink;
 }